* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

html,
body {
    background-image: url("../img/marble-background2.jpeg");
    font-family: 'Kiwi Maru', serif;
}

h2 {
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 200%;
    font-style: italic;
    margin-bottom: 3%;
}

.bordure {
    border: 2px grey solid; 
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px 2px 15px 2px;
}

.bordure1 {
    border-bottom: 2px solid black;
}

.bordure2 {
    border-top: 2px solid black;
    margin-top: 4px;
    padding-top: 5px;
}

.rounded_img {
    border-radius: 50px;
}

.img_nav{
    width: 80px;
    }
    
    @media (min-width:768px) {
    .img_nav{
    width: 100px;
    }
    }
    
    @media (min-width:1024px) {
    .img_nav{
    width: 120px;
    }
    
    }
    @media (min-width:1200px) {
    .img_nav{
    width: 150px;
    }
    }
    