@media (min-width:768px) {
    body{
        font-size: 14px;
    }
}

@media (min-width:1024px) {
    body{
        font-size: 17px;
    }
}
@media (min-width:1200px) {
    body{
        font-size: 20px;
    }
}