html,
body {
    background-image: url("../img/marble-background2.jpeg");
    font-family: 'Kiwi Maru', serif;
}

main {
    height: 100%;
    width: 100%;
}

.my-6 {
    margin: 2rem 0;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

.conteneur img {
	position:absolute;
	left:0;
    margin:auto;
    border: 2px solid black;
}

@keyframes fondu-in-out {
    0%    { opacity:1; }
    25%   { opacity:1; }
    75%   { opacity:0; }
    100%  { opacity:0; }
}
.conteneur .image-de-dessus {
    animation-name: fondu-in-out;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.conteneur{
    position: relative;
}

@media (max-width: 991px) {
    .conteneur {
        height: 40em;
    }
}

@media (min-width: 992px) {
    .conteneur {
        margin-left: 5%;
        margin-top: 4%;
    }
}