html,
body {
    background-image: url("../img/marble-background2.jpeg");
    font-family: 'Kiwi Maru', serif;
}

main {
    height: 100%;
    width: 100%;
}

.my-6 {
    margin: 2rem 0;
}

li{
    font-size: 1.1rem;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}


@keyframes fade {
    0%    { opacity:1; }
    25%   { opacity:1; }
    75%   { opacity:0; }
    100%  { opacity:0; }
}
.conteneur{
    display: flex;
    justify-content: center;
    height: 100%;
}
.parents{
    background-image: url("../img/carte.jpg");
    background-size: contain;
    width: 50%;
    
}

.child{
    width: 100%;
    animation: fade 4s infinite alternate;
}

@media (min-width:768px) {
    .parents{
        width: 50%;
    }
}

@media (min-width:1024px) {
    .parents{
        width: 60%;
    }
}

@media (min-width:1200px) {
    .parents{
        width: 100%;
    }
}

