body {
    background-image: url(/assets/img/marble-background2.jpeg);
    font-family: 'Kiwi Maru', serif;
    text-decoration: none;
}


main {
    font-style: italic;
}

main img {
    width: 250px;
    height: 250px;
}

h1 {
    text-align: center;
    font-size: 200%;
    font-style: italic;
    font-weight: normal;
}

h2 {
    font-weight: lighter;
}

main img {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    border-radius: 7%;
}

main img:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: all 1s ease;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    border-radius: 7%;
}

.my-6 {
    margin: 6em 0;
}